In [1]:
#Question 1

#What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [2]:
#Solution
a = 0
def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

b() #a=2
b() #a=4
b() #a=6
a

6

In [3]:
#In the first execution of b(), a = 2 (i.e 0 + 2), 
#the second execution returns a = 4 (i.e 2 + 2), 
#and the last execution returns a = 6 (i.e 4 + 2)
#Since, 'a' is a global variable, it is changed everytime the function b is called

In [4]:
# Question 2

# Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

# fileLength('midterm.py') 284 fileLength('idterm.py') Traceback (most recent call last): File "", line 1, in fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

# As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [5]:
# defining function
def fileLength(filename):
    
#     creating try except block
    try:
        with open(filename,"r") as f:
            print(len(f.readlines()))
            f.close()
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [6]:
fileLength("PB2.txt")

61

In [7]:
fileLength("PB1.txt")

File PB1.txt not found.

In [8]:
# Question 3

# Write a class named Marsupial that can be used as shown below:

# m = Marsupial() m.put_in_pouch('doll') m.put_in_pouch('firetruck') m.put_in_pouch('kitten') m.pouch_contents() ['doll', 'firetruck', 'kitten']

# Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below.

# k = Kangaroo(0,0) print(k) I am a Kangaroo located at coordinates (0,0) k.put_in_pouch('doll') k.put_in_pouch('firetruck') k.put_in_pouch('kitten') k.pouch_contents() 'doll', 'firetruck', 'kitten' k.jump(1,0) k.jump(1,0) k.jump(1,0) print(k) I am a Kangaroo located at coordinates (3,0)

In [9]:
# creating class object
class Marsupial(object):
    
#     defining init method
    def __init__(self):
        
#         creating empty list
        self.mylist = []
    
#     creating method to add items to empty list
    def put_in_pouch(self, item):            
        self.mylist.append(item)
        
#         creating method to print content of list
    def pouch_contents(self):                
        return self.mylist 

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
# creating subclass
class Kangaroo(Marsupial):                      
    
#     extending the init method
    def __init__(self, x, y):                                     
        Marsupial.__init__(self)                
        self.x = x                                
        self.y = y
        
#     creating a jump method                              
    def jump(self, dx, dy):                         
        self.x = self.x + dx
        self.y = self.y + dy
        
#     creating a string method to return output    
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
    
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [13]:
# Question 4

# Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. 
# A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: 
# x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑 Your function should stop when the sequence gets to number 1. 
# Your implementation must be recursive, without any loops.
# collatz(1)
# 1
# collatz(10)
# 10 5 16 8 4 2 1

In [14]:
# defining collatz function
def collatz(x):                   
#    setting conditional statement to validate recurssion

    if x != 1:
        
#         validating x for even numbers
        if x%2 == 0:               
            print(int(x))         
            collatz(x/2)       
        
        else:
#             validating x for odd numbers
            print(int(x))         
            collatz(3*x+1)          
  
    else:
        print(int(x));

In [15]:
 collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

In [17]:
collatz(1)

1

In [18]:
# Question 5

# Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
# binary(0) 
# 0 
# binary(1) 
# 1 
# binary(3) 
# 11 
# binary(9) 
# 1001

In [19]:
# defining binary function
def binary(n):
    
#     validating input of user and returning binary value
    if n>0:
        return int(format(n, "b"))
       
    else:
         return 0

In [20]:
binary(0)

0

In [21]:
binary(1)

1

In [22]:
binary(3)

11

In [23]:
binary(9)

1001

In [24]:
binary(-1)

0

In [25]:
binary(-2)

0

In [26]:
# Question 6

# Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. 
# You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. 
# When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. 
# Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. 
# Test your implementation using w3c.html.

# infile = open('w3c.html') 
# content = infile.read() 
# infile.close() 
# hp = HeadingParser() 
# hp.feed(content) 
# W3C Mission 
# Principles

In [27]:
# importing relevant module
from html.parser import HTMLParser

# creating HeadingParser class
class HeadingParser(HTMLParser):
    
#     defining init method
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head = 0                                                          
        self.intend = ""
        
#     defining starttag method
    def handle_starttag(self, tag, attrs):              
        if tag[:-1] == 'h':
            self.head = 'type'
            
#       defining data handling method
    def handle_data(self, data):                             
        if self.head == "type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [28]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

In [29]:
# Question 8.
# Write SQL queries on the below database table that return:
# a) All the temperature data.
# b) All the cities, but without repetition.
# c) All the records for India.
# d) All the Fall records
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
# g) The total annual rainfall for Cairo.
# h) The total rainfall for each season.

In [30]:
# importing relevant module
import sqlite3

# creating database connection
con = sqlite3.connect('database')

# creating cursor iterator
cur = con.cursor()

# creating table and inserting values
cur.execute("CREATE TABLE database_table (City text, Country text, Season text, Temperature dec, Rainfall dec)")
cur.execute("INSERT INTO database_table VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO database_table VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO database_table VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO database_table VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO database_table VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO database_table VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO database_table VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO database_table VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO database_table VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO database_table VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO database_table VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO database_table VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# committing modifications
con.commit()

# closing connection
con.close()

In [31]:
# importing relevant module
import sqlite3

# creating database connection
con = sqlite3.connect('database')

# creating cursor iterator
cur = con.cursor()

# (a)
cur.execute('SELECT Temperature FROM database_table ')
for record in cur:
    print(record)

# (b)    
cur.execute('SELECT DISTINCT City FROM database_table ')
for record in cur:
    print(record)
    
# (c)    
cur.execute('SELECT * FROM database_table where Season = "Fall"')
for record in cur:
    print(record)

# (d)
cur.execute('SELECT * FROM database_table where Country = "India"')
for record in cur:
    print(record)
    
# (e)   
cur.execute('SELECT City, Country FROM database_table where (Season = "Fall") AND (temperature > 20) ORDER BY Temperature DESC')
for record in cur:
    print(record)
    
# (f)    
cur.execute('SELECT City, Country, Season FROM database_table where (rainfall > 200) AND (rainfall < 400)')
for record in cur:
    print(record)
    
# (g)    
cur.execute('SELECT SUM(Rainfall) FROM database_table where City = "Cairo"')
Annual_rainfall=cur.fetchall()
print(Annual_rainfall)

# (h)
cur.execute('SELECT SUM(Rainfall), Season FROM database_table GROUP BY Season')
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Mumbai', 'India')
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(55.2,)]
(1138.0, 'Fall')
(384.59999999999997, 'Spring')
(3413.0, 'Summer')
(460.2, 'Winter')

In [32]:
# Question 9

# Suppose list words is defined as follows:

# words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Write list comprehension expressions that use list words and generate the following lists:

# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [33]:
# (a)
# creating a list
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# iterating over the list to print words in uppercase
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [34]:
# (b)
# iterating over the list to print words in lowercase
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
# (c)
# iterating over the list to print a list of length of each word
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [36]:
# (d)
# iterating over the list to print a list of uppercase, lowercase and length of each word
[[a.upper(), a.lower(), len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [37]:
# (e)
# iterating over the list to print a list of words with length greater than or equal to 4
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']